* {
	font-family: "Kanit", sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	margin: 0;
    width: 100%;
    height: 100%;
	background: linear-gradient(-45deg, #6EB4DC, #B8DAEE, #98A15E, #D3B76E, #D7A483);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.navbar-links{
    display: inline-block;
    float: right;
    margin-right: 15px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center; 
}

li {
    float: left;
    padding: 0px 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
    
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

li a:hover {
    color: #6EB4DC;
}

.btn-contact{
    padding: 10px 25px;
    border: 1px solid #6EB4DC;
    border-radius: 100px;
    font-weight: 400;
}

.btn-contact:hover{
    background-color: #6EB4DC;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.ftitle {
    font-weight: 700;
	color: transparent;
	-webkit-text-stroke-width: 5px;
  	-webkit-text-stroke-color: black;
	text-align: center;
}

.gtitle {
    font-size: 15em;
}

.ptitle {
    font-size: 8em;
    margin-top: -100px;
    margin-bottom: 150px;
}

.card-presentation {
	margin: 200px;
	text-align: center;
	padding: 40px;
	background-color: #ffffff3c;
	border: 3px solid #fff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
}

.card-presentation .card-title {
	font-size: 4em;
	color: #fff;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
}

.card-presentation a {
	color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
	font-weight: 400;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
	padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 100px;
	margin: 20px;
}

.card-presentation a:hover {
	background-color: #fff;
    color: #cdcdcd;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.card-presentation .btn-cv {
	background-color: #fff;
	color: #cdcdcd;
}

.card-presentation .btn-cv:hover {
	background-color: transparent;
	color: #fff;
}

.card-presentation .btn-presentation {
	margin-top: 40px;
}

/*PAGE EXPERIENCES*/
.experiences h2 {
    margin: 50px;
    font-size: 50px;
}

.card-exp{
    background-color: #ffffff3c;
	border: 3px solid #fff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card-exp:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-exp h3{
    font-weight: 600;
}

.card-exp img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-exp .progress {
    background-color: #ffffff3c;
	border: 2px solid #fff;
}
.card-exp .progress-bar {
    background-color: #98A15E;
}

.card-1{
    background-image: url(../images/compétences/HTML.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 140px;
}
.card-2{
    background-image: url(../images/compétences/CSS.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 160px;
}
.card-3{
    background-image: url(../images/compétences/JS.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 85px;
}
.card-4{
    background-image: url(../images/compétences/PHP.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}
.card-5{
    background-image: url(../images/compétences/LINUX.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}
.card-6{
    background-image: url(../images/compétences/PYTHON.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 140px;
}
.card-7{
    background-image: url(../images/compétences/SQL.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}
.card-8{
    background-image: url(../images/compétences/C.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}
.card-9{
    background-image: url(../images/compétences/VSCODE.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px;
}
.card-10{
    background-image: url(../images/compétences/ST.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
.card-11{
    background-image: url(../images/compétences/GITHUB.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 85px;
}
.card-12{
    background-image: url(../images/compétences/NP.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}
.card-13{
    background-image: url(../images/compétences/CANVA.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 95px;
}
.card-14{
    background-image: url(../images/compétences/FIGMA.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px;
}
.card-15{
    background-image: url(../images/compétences/IPX.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
.card{
    margin: 20px;
}
} 

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 0px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}